USE [CHUNGKHOAN]
GO
/****** Object:  StoredProcedure [dbo].[SP_GIAOTAC]    Script Date: 11/2/2019 2:20:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[SP_GIAOTAC]
@minsup float,
@isinc int
as
BEGIN

select MACP,COUNT(NGAY) as sup into #DSMACP_Sup from LSGIA WHERE (@isinc =1 and GIAMOCUA < GIADONGCUA) or (@isinc =0 and GIAMOCUA > GIADONGCUA) group by MACP
DECLARE @SUP float 
DECLARE @cnt int
 
SET @SUP  =(@minsup * (select COUNT(DISTINCT (NGAY)) FROM LSGIA))/100.0

SELECT DISTINCT(MACP) INTO #DSMACP FROM #DSMACP_Sup 
   WHERE SUP >= @SUP ORDER BY (MACP)

SET @cnt = (SELECT COUNT(DISTINCT(MACP)) FROM #DSMACP) 
if(@cnt = 0)
BEGIN
return 0
END

DECLARE @PivotColumnHeader varchar(max)
SET @PivotColumnHeader = ''
SELECT @PivotColumnHeader += RTRIM(MACP) + ',' FROM #DSMACP
SET @PivotColumnHeader = SUBSTRING(@PivotColumnHeader,1,LEN(@PivotColumnHeader)-1)
 
SELECT NGAY,MACP into #LSGIA from LSGIA WHERE (@isinc =1 and GIAMOCUA < GIADONGCUA) or (@isinc =0 and GIAMOCUA > GIADONGCUA)

DECLARE @PivotTable varchar(MAX)
SET @PivotTable = 'SELECT * FROM #LSGIA Pivot( COUNT(MACP) for MACP in ('+ @PivotColumnHeader +')) as PivotTable'
PRINT (@PivotTable)
execute(@PivotTable)
DROP table #LSGIA
end
GO
/****** Object:  Table [dbo].[COPHIEU]    Script Date: 11/2/2019 2:20:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COPHIEU](
	[MACP] [nchar](7) NOT NULL,
	[TENCTY] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_COPHIEU] PRIMARY KEY CLUSTERED 
(
	[MACP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LSGIA]    Script Date: 11/2/2019 2:20:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LSGIA](
	[MACP] [nchar](7) NOT NULL,
	[NGAY] [date] NOT NULL,
	[GIAMOCUA] [money] NOT NULL,
	[GIATC] [money] NOT NULL,
	[GIADONGCUA] [money] NOT NULL,
 CONSTRAINT [PK_LSGIA] PRIMARY KEY CLUSTERED 
(
	[MACP] ASC,
	[NGAY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[COPHIEU] ([MACP], [TENCTY]) VALUES (N'ARB    ', N'Agribank')
INSERT [dbo].[COPHIEU] ([MACP], [TENCTY]) VALUES (N'DAB    ', N'Dong A Bank')
INSERT [dbo].[COPHIEU] ([MACP], [TENCTY]) VALUES (N'SCB    ', N'Sacombank')
INSERT [dbo].[LSGIA] ([MACP], [NGAY], [GIAMOCUA], [GIATC], [GIADONGCUA]) VALUES (N'ARB    ', CAST(0x233F0B00 AS Date), 10000.0000, 11000.0000, 11000.0000)
INSERT [dbo].[LSGIA] ([MACP], [NGAY], [GIAMOCUA], [GIATC], [GIADONGCUA]) VALUES (N'ARB    ', CAST(0x243F0B00 AS Date), 11000.0000, 10000.0000, 10000.0000)
INSERT [dbo].[LSGIA] ([MACP], [NGAY], [GIAMOCUA], [GIATC], [GIADONGCUA]) VALUES (N'ARB    ', CAST(0x253F0B00 AS Date), 10000.0000, 11000.0000, 11000.0000)
ALTER TABLE [dbo].[LSGIA]  WITH CHECK ADD  CONSTRAINT [FK_LSGIA_COPHIEU] FOREIGN KEY([MACP])
REFERENCES [dbo].[COPHIEU] ([MACP])
GO
ALTER TABLE [dbo].[LSGIA] CHECK CONSTRAINT [FK_LSGIA_COPHIEU]
GO
